html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}
.fire {
  flex: 1 0 50%;
  position: relative;
}
.title {
  position: absolute;
  left: 10px;
  top: 0;
  pointer-events: none;
}
.debug {
  position: absolute;
  left: 10px;
  top: 64px;
  pointer-events: none;
}
.fire-wood {
  width: 38px;
  height: 29px;
  position: absolute;
  left: 50%;
  top: calc(70% + 12px);
  transform: translate(-50%, -50%);
  background-image: url(../a/kenney/cp_wood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.fire-flame {
  width: 50px;
  height: 61px;
  position: absolute;
  left: 50%;
  top: calc(70%);
  transform: translate(-50%, -80%);
  background-image: url(../a/kenney/flame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}
.inventory {
  flex: 1 0 50%;
}
.inventory td {
  background-color: antiquewhite;
}
.inventory-table {
  width: 100%;
  height: 100%;
}

.wood {
  background-image: url(../a/kenney/log_stack.png);
  background-size: 100vmin;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.move {
  width: 100%;
  height: 100%;
}
